@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#msg-box4-c small {
  font-size: 22px;
}
#content4-21 H4 {
  color: #d9534f;
}
#contacts1-h P {
  text-align: center;
}
#contacts1-h STRONG {
  text-align: right;
}

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#msg-box4-p .lead P {
  text-align: center;
}
#msg-box4-p .lead UL {
  text-align: left;
}
#contacts1-h P {
  text-align: center;
}
#contacts1-h STRONG {
  text-align: right;
}

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#msg-box3-20 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-20 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-m P {
  text-align: center;
}
#contacts1-m STRONG {
  text-align: right;
}



#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#content5-x .mbr-section-title {
  text-align: center;
}
#content5-x P {
  text-align: center;
}
#features1-y H4 {
  font-family: 'PT Serif', serif;
  font-size: 22px;
}
#features1-y B {
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
}
#contacts1-v P {
  text-align: center;
}
#contacts1-v STRONG {
  text-align: right;
}


#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#content5-12 .mbr-section-title {
  text-align: center;
  color: #e6e0dc;
}
#content5-12 P {
  text-align: right;
  color: #ffffff;
}
#content5-12 .mbr-section-title SPAN {
  color: #fbfbfb;
  text-align: right;
}
#content5-1u P {
  text-align: center;
}
#content4-13 P {
  text-align: center;
}
#content4-13 H4 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#contacts1-10 P {
  text-align: center;
}
#contacts1-10 STRONG {
  text-align: right;
}

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1z .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-15 P {
  text-align: center;
}
#contacts1-15 STRONG {
  text-align: right;
}

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#contacts1-17 P {
  text-align: center;
}
#contacts1-17 STRONG {
  text-align: right;
}

#dropdown-menu-2btn-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1w .navbar-brand a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#dropdown-menu-2btn-1w .nav .link,
#dropdown-menu-2btn-1w .dropdown-item {
  font-size: 1em;
  color: #fff8e0;
}
#dropdown-menu-2btn-1w .navbar,
#dropdown-menu-2btn-1w .dropdown-menu {
  background: #151458;
}
#dropdown-menu-2btn-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1w .dropdown-menu a:hover,
#dropdown-menu-2btn-1w .dropdown-menu a:focus {
  background: #111047;
}
#dropdown-menu-2btn-1w .navbar-toggler {
  color: #fff8e0;
}
#contacts1-19 P {
  text-align: center;
}
#contacts1-19 STRONG {
  text-align: right;
}
